<!DOCTYPE html>
<html>
<head>
  <title>Welcome {{full_name}}</title>
</head>
<body>
  <h1>Hi {{full_name}} your account has been created.</h1>
  <p>Please click on the link below to activate your account.</p>
  <a href="{{url}}">Activate</a>
  <br />
  <p>If you did not create an account, please ignore this email.</p>
  <br />
  <br />
  <p>Thanks,</p>
  <p>The Team</p>
</body>
</html>
 